/* Global Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    /* Nav List Color */
    --Home: #4682B4;
    --About: #BC8F8F;
    --Facilities: #DA70D6;
    --Admission: #A0522D;

    /* Hero Title Color */
    --Amber: #FEA301;
    --SkyBlue: #01ACFD;

    --Black: #000000;
    --White: #FFFFFF;
    --OffBlack: #111111;

    --DarkGray: #202020;
    --Gray: #808080;
    --DimGray: #666666;

}

.quickSand {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.raleWay {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col-gap {
    gap: 5.5vw;
    padding: 4vw;
}

.txt-link {
    font-family: Quicksand;
    font-size: 1.18rem;
    font-weight: 700;
    color: var(--Amber);
}

.btn-primary {
    width: 13.68vw;
    height: 3.47vw;
    border: none;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--OffBlack);
    cursor: pointer;
}

.sec_title {
    font-family: Quicksand;
    font-size: 2.72rem;
    font-weight: 700;
    color: var(--Black);

}


/* Nav Bar Styles */

.header_navBar {
    width: 80.5vw;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
}

.logo-navBar {
    width: 4.3vw;
    height: 4.3v2;
}

.txt-navBar {
    font-family: Quicksand;
    font-size: 1.89rem;
    font-weight: 700;
    color: var(--OffBlack);
}

.btn-navBar {
    background-color: var(--Amber);
    color: var(--OffBlack);
    cursor: pointer;
}

.header_navBar-logo {
    align-items: center;
    gap: 8px;
}

.header_navList li {
    list-style: none;
}

.header_navList a {
    text-decoration: none;
}

.header_navList {
    gap: 26px;
}

.header_navList li:nth-child(1) a {
    color: var(--Home);
    font-weight: 700;
}

.header_navList li:nth-child(2) a {
    color: var(--About);
}

.header_navList li:nth-child(3) a {
    color: var(--Facilities);
}

.header_navList li:nth-child(4) a {
    color: var(--Admission);
}

/* Hero Section Styles */

.hero {
    width: 80.5vw;
    height: 40vw;
    background-image: url("../assets/hero-kids.png");
    background-repeat: no-repeat;
    background-size: 32vw;
    background-position: right bottom;
    align-items: center;
    justify-content: flex-start;
}

.hero_txt-box {
    width: 44vw;
    height: 23vw;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}

.hero_txt-box .empowering {
    color: var(--Amber);
}

.hero_txt-box .vision {
    color: var(--SkyBlue);
}

.hero_txt-description {
    font-family: Quicksand;
    font-size: 1.18rem;
    color: var(--OffBlack);
}


/* Curriculum Section Styles */

.curriculum {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cur_card-box {
    width: 80.5vw;
    height: 33.43vw;
    justify-content: space-between;
}

.cur_card {
    width: 25.54vw;
    height: 33vw;
    border-radius: 18px;
    border: rgba(222, 245, 255, 1);
    box-shadow: inset 0 0 28.3px rgba(0, 0, 0, 0.05);
    padding: 3.6vw;
    align-items: center;
    gap: 26px;
}

.cur_card-1 {
    background: linear-gradient(to bottom, #DEF5FF 0%, #FFFFFF 100%);

}

.cur_card-2 {
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFFFFF 100%);

}

.cur_card-3 {
    background: linear-gradient(to bottom, #EEE1FF 0%, #FFFFFF 100%);
    border: rgba(242, 232, 255, 1);

}

.cur_image {
    width: 9.5vw;
    height: 9.5vw;
}

.cur_card-title {
    font-family: Quicksand;
    font-size: 1.45rem;
    font-weight: 700;
    color: var(--DarkGray);
}

.cur_card-description {
    font-family: Raleway;
    font-size: 0.89rem;
    font-weight: 600;
    color: var(--Gray);
}

.cur_card-link {
    font-family: Quicksand;
    font-size: 0.89rem;
    font-weight: 700;

}

.arrow {
    align-items: center;
    gap: 5px;
}

.cur_arrow {
    width: 57px;
    height: 57px;
    cursor: pointer;
}

.cur_left-arrow {
    transform: scaleX(-1);
}

/* Story Section Style */

.story {
    background-image: url("../assets/bg.png");
    background-repeat: repeat-y;
    background-size: cover;
    background: linear-gradient(to top, rgba(254, 163, 1, 0.30) 0%, #FFFFFF 100%);
}

.story_cards-box{
    width: 80.5vw;
    height: 44vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.story_card-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.story_card-2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


.story_card-3{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}


.story_card-4{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.story_card-4{
    grid-column: 4 / 5;
    grid-row: 2, 3;
}


.story_cards-box {
    width: 80.5vw;
    height: 43.7vw;
}

.story_card {
    background-color: var(--White);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.story_image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    
}

.story_image-1{
    background-image: url("../assets/story-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.story_image-2{
    background-image: url("../assets/story-2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.story_image-3{
    background-image: url("../assets/story-3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.story_image-4{
    background-image: url("../assets/story-4.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.story_image-5{
    background-image: url("../assets/story-5.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.story_date {
    display: inline-block;
    border-radius: 44.5px;
    padding: 8px 17px;
    background-color: #95B226;
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 600;
    cursor:default;

}

.story_description { 
    width: 100%;
    height: 40%;
    font-family: Quicksand;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--Black);
    padding: 30px 15px ;
    text-align: center;
}

.story_description-main {
    font-family: Raleway;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--DimGray);
}

.story_title {
    font-family: Quicksand;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Black);
}

